/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d__flex--center {
  display: flex;
  justify-content: center;
}