.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d__flex--center {
  display: flex;
  justify-content: center;
}


